.top{
	height: 60px;
}
.main{
	height: 1000px;
}
.info{
	height: 50px;
}
.tuy{
	height: 100px;
	width: 150px;
}
.kar{
	height: 20px;
}
.but{
	height: 40px;
}
.img{
	height: 30px;
}